
video {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
background-size: cover;

.homepageCenter {
    padding: 200px, 0;
    text-align: center;
    margin: 0px;
}

h1.mainCenter {
  margin: 0px;
}
