extends ../../layouts/master
block content
  video(autoplay='' loop='' poster='')
    source(src='/background2.mp4' type='video/mp4')
  .container-fluid
    .row(style='margin 0px;')
      .col-xs-12.homepageCenter(style = 'background: black;')
        h1.mainCenter Toor
      .col-xs-12.homepageCenter
        a(href='#') Let's Go
        
