extends ../../layouts/noNav
block content
  .container-fluid
    .row.text-center
      .title TOOR
      p.tagline Crowdsource Your Vacation
      button.btn.btn-primary
       if email
         a.anchor-cta(href='/trips/new', style='color: rgba(255, 255, 255, 0.67); text-decoration: none;')
           span.cta Let's go!
       else
         a.anchor-cta(href='/login', style='color: rgba(255, 255, 255, 0.67); text-decoration: none;') 
          span.cta Let's go!
         
    .row.api-row
      .logos
        img#sabre(src='/media/img/sabre.png')
      .logos
        img#twitter(src='/media/img/twitter2.png')
      .logos
        img#coinbase(src='/media/img/coinbase.png')
      .logos
        img#club(src='/media/img/club.png')
      .logos
        img#expedia(src='/media/img/expedia.png')
      .logos
        img#node(src='/media/img/node.png')
      .logos
        img#mongo(src='/media/img/MongoDB_Logo.png')
      .logos
        img#hapi(src='/media/img/hapi.png')
      .logos
        img#mongoose(src='/media/img/mongoose.png')
      .logos
        img#gulp(src='/media/img/gulp.png')
        
      
        
        
        
  video(autoplay='' loop='' poster='')
    source(src='https://s3-us-west-1.amazonaws.com/toor-video/background2.mp4' type='video/mp4')
      
      
        
