extends ../../layouts/master
block content
  .container-fluid
    .row(style='margin 0px;')
      .col-xs-12.homepageCenter(style = 'background: black;')
        h1.mainCenter Toor
      .col-xs-12.homepageCenter
        a(href='#') Let's Go
        
