extends ../../layouts/noNav
block content
  .container-fluid
    .row.text-center
      .lead.title TOOR
      button.btn.btn-primary
       i.fa.fa-globe 
       span.cta Let's go!
        
  video(autoplay='' loop='' poster='')
    source(src='https://s3-us-west-1.amazonaws.com/toor-video/background2.mp4' type='video/mp4')
      
      
        
