extends ../../layouts/master
block content

  h3 New Trip

  .row
    .col-xs-4
      form#flights(method='post', action='/trips/flights')
        .form-group
          label(for='title') Name of Trip
          input#title.form-control(type='text', name='title', autofocus=true)
        .form-group
          label(for='originAirport') Origin Airport
          input#originAirport.form-control(type='text', name='originAirport')
        .form-group
          label(for='departureDate') Departure Date
          input#departureDate.form-control(type='date', name='departureDate')
        .form-group
          label(for='returnDate') Return Date
          input#returnDate.form-control(type='date', name='returnDate')
        .form-group
          label(for='theme') Theme
          select#theme.form-control(name='theme')            
            option(value='') Pick a Theme
            option BEACH 
            option DISNEY 
            option GAMBLING 
            option HISTORIC 
            option MOUNTAINS 
            option NATIONAL-PARKS 
            option OUTDOORS 
            option ROMANTIC 
            option SHOPPING 
            option SKIING 
            option THEME-PARK 
        .form-group
          button.btn.btn-default#get-flights(type='submit') Explore Flights
    .col-xs-8

  .row
    .col-xs-4
      .flights
    .col-xs-8

block scripts
  script(src='/js/new-trip.js')
