extends ../../layouts/master
block content

  h3 New Trip

  .row
    .col-xs-4
      form(method='post', action='/trips/build')
        .form-group
          label(for='destination') Destination
          input#destination.form-control(type='text', name='destination', autofocus=true)
        .form-group
          button.btn.btn-default(type='submit') Get Flights, Hotels, Cars
    .col-xs-8
  .row
    .col-xs-4
      form(method='post', action='/trips/search')
        .form-group
          button.btn.btn-default(type='submit') Explore Top Destinations
    .col-xs-8
