extends ../../layouts/master
block content

  .container-fluid
    .row
      .col-md-3.col-sm-1
      .col-md-6.col-sm-10
        .jumbotron#regHead
          h3.register.page-header Register
          form(method='post', action='/users')
            .form-group
              label(for='email') Email
              input#email.form-control(type='email', name='email', autofocus=true)
            .form-group
              label(for='twitter') Twitter
              #twitter.input-group
                span#twitter.input-group-addon @
                input#twitterForm.form-control(type='text', name='twitter')
            .form-group
              label(for='password') Password
              input#password.form-control(type='password', name='password')
            .form-group
              button#register.btn.btn-default(type='submit') Register
      .col-md-3.col-sm-1
